#loaded-page-items-counter 
{
    line-height: 12px;
    height: 12px;    
    min-width: 12px;
    top: 24px;
    left: 0;
    margin-left:25%;
    padding: 2px 4px;
    font-weight: bold;
    background-color: #e62117;
    color: white;
    font-size: 10px;        
    cursor: default;
    position: absolute;
    border-radius: 3px;
}

.more-items-button
{
    background: url("chrome-extension://__MSG_@@extension_id__/images/icon-16.png") 33% 33% no-repeat !important;
    border-radius: 3px !important;
    padding: 0px !important;
}

.more-items-pulse
{
    background-color: #e62117 !important;
    animation: pulse 1s infinite;
}

@keyframes pulse  
{
    0% {background-color:black;} 
    50% {background-color: white;}
    100% {background-color: black;}
}